.scaffold{
    background-color: grey;
    width: fit-content;
    height: fit-content;
    border-style:solid ;
    padding: 16px 32px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;

}
input {
    direction: rtl;
}
.prt{
    margin-bottom: 2%;
    text-align: right;
}
.btn-delete{
    width: 74%;
    border-radius: 5px;
    
}
.btn{
    width: 23%;
    height:23%;
    border-radius: 5px;
}
.btn-zro{
    width: 48%;
}